corpo {
  exibição: flexível;
  justificar-conteúdo: centro;
  alinhar-itens: centro;
  altura: 100vh;
  cor de fundo: #222;
  família de fontes: Arial, sem serifa;
}

#calculadora {
  fundo: #333;
  preenchimento: 20px;
  raio da borda: 10px;
  caixa-sombra: 0px 4px 10px rgba(0, 0, 0, 0.3);
  largura: 260px;
  alinhamento de texto: centro;
}


#mostrar {
  largura: 100%;
  altura: 50px;
  tamanho da fonte: 2em;
  alinhamento de texto: direita;
  preenchimento: 10px;
  borda: nenhuma;
  esboço: nenhum;
  fundo: #000;
  cor: #fff;
  margem inferior: 10px;
  raio da borda: 5px;
}


#teclado {
  exibição: grade;
  colunas-de-modelo-de-grade: repetir(4, 1fr);
  lacuna: 5px;
}

botão {
  largura: 60px;
  altura: 60px;
  tamanho da fonte: 1,5em;
  borda: nenhuma;
  cursor: ponteiro;
  fundo: #444;
  cor: #fff;
  raio da borda: 5px;
  transição: 0,3s;
}


botão: pairar {
  fundo: #555;
}

botão:ativo {
  fundo: #777;
}

botão.zero {
  coluna de grade: intervalo 2;
  largura: 100%;
}

botão:n-ésimo-filho(4n),
botão:último-filho {
  fundo: #ff9800;
}

botão:n-ésimo-filho(4n):passar o mouse,
botão:último-filho:passar o mouse {
  fundo: #e68900;
}
